body{
    overflow: hidden;
    margin:0;
    background-color:  rgb(64, 83, 67);
    cursor: crosshair;
}
@font-face {
    font-family: 'Mario-Party-Hudson-Font.ttf';
    src: url("fichiers-scss/Mario-Party-Hudson-Font.ttf");
}
$blanc: rgb(216, 212, 205);